<%= render 'banner' %>
<div class="row">
  <div class="container-show">
    <div class="col-5">
      <div class="quotes">
        <div class="col-2">
          <h1 style="font-size: 80px;">❝</h1>
        </div>
        <div class="col-10">
          <h3>"I feel sorry for people who don't drink. When they wake up in the morning that's as good as they're going to feel all day."</h3>
          <h5>Frank Sinatra.</h5>
        </div>
      </div>
    </div>
    <div class="col-5">
      <h1>Ingredients</h1>
      <ul>
        <% @cocktail.doses.each do |dose|  %>
        <li><%= dose.description %> <%= dose.ingredient.name %> <%= link_to cocktail_dose_path(dose), method: :delete do %>
          <i class="far fa-trash-alt"></i>
        </li>
        <% end %>
        <% end %>
      </ul>
      <%= simple_form_for [@cocktail, @dose] do |f| %>
        <%= f.input :description %>
        <%= f.association :ingredient %>
        <%= f.button :submit %>
      <% end %>
    </div>
  </div>
</div>
<%= render 'shared/footer' %>
